@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic);
.flex-vertical-align {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
#callback_widget {
  z-index: 1999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
#callback_widget * {
  margin: 0;
  padding: 0;
  border: none;
  color: black;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 25px;
  box-sizing: border-box;
  box-shadow: none;
  line-height: 1;
  outline: none;
}
#callback_widget.open {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
#callback_widget.open + #callback_widget_tel {
  display: none;
}
#callback_widget > div {
  position: relative;
  margin-left: -275px;
  left: 50%;
  background: rgba(255, 255, 255, 0.9);
  width: 550px;
  height: 350px;
  text-align: left;
  padding: 50px;
}
#callback_widget > div > a {
  position: absolute;
  top: 10px;
  right: 10px;
}
#callback_widget > div > div {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
#callback_widget > div > div p {
  display: block;
  line-height: 1.5;
}
#callback_widget > div > div .button-group {
  display: block;
  padding-top: 25px;
}
#callback_widget > div > div .button-group a,
#callback_widget > div > div .button-group button,
#callback_widget > div > div .button-group input {
  display: block;
  float: left;
  background: #bababa;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 30px;
  width: 70px;
  height: 35px;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
#callback_widget > div > div .button-group a.big,
#callback_widget > div > div .button-group button.big,
#callback_widget > div > div .button-group input.big {
  width: 145px;
}
#callback_widget > div > div .button-group a:hover,
#callback_widget > div > div .button-group button:hover {
  background: #adadad;
}
#callback_widget > div > div .button-group a:hover:before,
#callback_widget > div > div .button-group button:hover:before {
  display: none;
}
#callback_widget > div > div .button-group a:active,
#callback_widget > div > div .button-group button:active {
  background: #b5b5b5;
}
#callback_widget > div > div .button-group a.important,
#callback_widget > div > div .button-group button.important {
  background: #0ac823;
}
#callback_widget > div > div .button-group a.important:hover,
#callback_widget > div > div .button-group button.important:hover {
  background: #09b01f;
}
#callback_widget > div > div .button-group a.important:active,
#callback_widget > div > div .button-group button.important:active {
  background: #0abe21;
}
#callback_widget > div > div .button-group input {
  border: 1px solid transparent;
  text-align: left;
  width: 180px;
  font-weight: 300;
  background: #bbbbbb;
  padding: 0 0 0 5px;
  line-height: 35px;
}
#callback_widget > div > div .button-group input::-webkit-input-placeholder {
  color: #ffffff;
}
#callback_widget > div > div .button-group input:-moz-placeholder {
  color: #ffffff;
}
#callback_widget > div > div .button-group input.error {
  border-color: red;
}
#callback_widget > div > div .link.fail {
  color: #f92053;
  border-bottom: 1px solid;
}
#callback_widget > div > div .link.success {
  color: #0ac823;
  border-bottom: 1px solid;
}
#callback_widget > div > div #callback_countdown {
  display: inline-block;
  margin-left: 20px;
}
.callback-clear {
  clear: both;
  height: 10px;
}
#callback_widget_tel {
  position: fixed;
  width: 76px;
  height: 76px;
  bottom: 100px;
  left: 70%;
  opacity: .5;
  cursor: pointer;
  z-index: 1999;
}
#callback_widget_tel:hover {
  opacity: 1;
}
#callback_widget_tel :nth-child(1) {
  border: 1px solid #0ac823;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all .7s;
  opacity: 0;
}
#callback_widget_tel :nth-child(1).big {
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  opacity: 1;
}
#callback_widget_tel :nth-child(1).big.fade {
  width: 150px;
  height: 150px;
  margin-left: -75px;
  margin-top: -75px;
  opacity: 0;
}
#callback_widget_tel :nth-child(2) {
  position: absolute;
  background: #0ac823;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all 1s;
  opacity: .3;
}
#callback_widget_tel :nth-child(2).big {
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
}
#callback_widget_tel :nth-child(3) {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(widget.png) center;
}
#callback_widget_header {
  display: none;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
#callback_widget_header a {
  display: block;
  width: 100%;
  background: #00cd6b;
  color: white;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-weight: 300;
}
#callback_widget_header a span {
  display: block;
}
#callback_widget_header a > span {
  overflow: hidden;
  display: inline-block;
}
#callback_widget_header a > span > span {
  float: left;
}
#callback_widget_header a > span > span:nth-child(1) {
  width: 44px;
  height: 120px;
  background: url(tel/44.png) no-repeat center;
  margin-right: 20px;
}
#callback_widget_header a > span > span:nth-child(2) > span:nth-child(1) {
  font-size: 70px;
  line-height: 86px;
}
#callback_widget_header a > span > span:nth-child(2) > span:nth-child(2) {
  margin-top: 5px;
  font-size: 49px;
}
#callback_widget_header.native a > span > span:nth-child(1) {
  width: 29px;
  height: 45px;
  background: url(tel/29.png) no-repeat center;
  margin-right: 10px;
}
#callback_widget_header.native a > span > span:nth-child(2) > span:nth-child(1) {
  font-size: 30px !important;
}
#callback_widget_header.native a > span > span:nth-child(2) > span:nth-child(2) {
  margin-top: 5px;
  font-size: 20px !important;
}
