#duplicates-form-message {
    display: none;
    margin: 30px 0;
 }
.header {
	width: auto;
}
.header__wrapper {
	margin: 0 auto;
	padding: 30px 15px 17px;
	position: relative;
	width: 100%;
	max-width: 1230px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__block {
	display: flex;
	flex-direction:column;
}
.header__menu {
	display: flex;
	justify-content:space-between;
}
.header__logo {
	margin-bottom: 20px;
}
.header__contact-us {
	display: flex;
	flex-direction:column;
}
.header__ordercall {
	color: #fff;
	text-transform: uppercase;
	background-color: #ff3f3f;
	font-size: 14px;
	font-family: 'Play',sans-serif;
	font-weight: bold;
	padding: 10px 25px;
}
.header__ordercall:hover {
	background-color: #ff0c0c;
	color: #fff;
}
.header__ordercall:focus {
	background-color: #ff0c0c;
	color: #fff;
}
.header__ordercall:active {
	background-color: #ff0c0c;
	color: #fff;
}
.header__phone {
	font-size: 20px;
	font-family: 'Play',sans-serif;
	font-weight: bold;
	margin-top: 20px;
}
ul.mainmenu {
	font-size: 16px;
	font-weight: bold;
	margin-left: 3px;
}
.features {
	margin:0 auto 50px;
}
.features__table {
	width: 100%;
	border: 0;
	font-size: 24px;
	font-family: 'Play',sans-serif;
}
.features__table tr:nth-child(2n) {
	background-color: #f3f3f3;
}
.features__table td {
	max-width: 66%;
}
.features__table td:nth-child(2) {
	font-weight: bold;
	max-width: 33%;
}
.features__table tr, .features__table td {
	border:0;
}
.features__caption {
	margin-bottom: 50px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	caption-side: top;
	text-align: center;
}
.duplicates {
	width: 100%;
	margin:0 auto 80px;
}
.duplicates > h2 {
	margin: 0 auto;
}
.duplicates__wrapper {
	display: flex;
	justify-content:space-between;
}
.duplicates__block {
	width: auto;
	max-width: 66%;
}
.duplicates__form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// justify-content: space-between;
}
.duplicates__column {
	display: flex;
    flex-direction: column;
	max-width: 380px;
	width: 100%;
	margin-right: 20px;
}
.duplicates__description {
	max-width: 33%;
}
.duplicates__description p {
	font-weight: bold;
	font-size: 30px;
}
.duplicates__description span {
	font-weight: bold;
	font-size: 17px;
}
.duplicates__textarea {
	height: 100%;
	width: 100%;
	max-width: 390px;
}
.form-block {
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin-top: 25px;
}
.form-block p {
	font-size: 13px;
    margin-left: 20px;
}
.form-block input {
	margin-top: 0;
}
.textarea {
	width: 100%;
	padding: 0.9rem 1rem 0.9rem;
	font-size: 1em;
	font-weight: bold;
	background: transparent;
	border: 2px solid #000;
	border-radius: 0;
	appearance: none;
	height: 156px;
}
textarea:focus {
	outline:none;
	background-color: #fff !important;
}
@media screen and (max-width: 991px) {
	.header__menu {
		display: none;
	}
	.header__contact-us {
		display: none;
	}
	.hamburger-menu-wrapper a {
		text-align:left;
	}
	.header__wrapper {
		width: auto;
		align-items: flex-start;
		padding: 10px 15px;
		max-height: 60px;
	}
	.header .col-6 {
		display: inline-block;
		width: auto;
		flex: 0;
		padding-left: 0;
		max-width: unset;
	}
	.features__table {
		font-size: 14px;
	}
	.duplicates__description p {
		font-size: 24px;
	}
	.duplicates__wrapper {
		flex-direction:column;
	}
	.duplicates__description {
		max-width: unset;
	}
	.duplicates__block {
		max-width: unset;
		margin-top:30px;
	}
	.duplicates__column {
		margin-right: 0;
		max-width: unset;
	}
	.duplicates__textarea {
		max-width: unset;
	}
	.form-block {
		flex-direction:column;
	}
	.form-block input {
		width: 100%;
	}
	.form-block p {
		margin-left: 0px;
		margin-top: 20px;
	}
}



.about {
	margin: 0 auto;
	max-width: 1204px;
}

.about__title {
	font: 700 30px/30px 'Play',sans-serif;
	text-align: center;
	margin-top: 58px;
}

.about__title:after {
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
}

.about__title:after {
	content: "";
	width: 156px;
	height: 1px;
	border-bottom: 1px solid #4e4b3d;
	top: 11px;
	text-align: center;
	background-color: #c2c2be;
	position: relative;
}

.about__text-wrapper {
	/*display: flex;*/
	column-count: 2;
	margin-top: 51px;
}

.about__text {
	text-align: left;
	margin-left: 3px;
	font: 24px/30px 'Play',sans-serif;

}

.service {
	margin-top: 30px;
}

.service__title {
	font: 700 30px/24px 'Play',sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .8px;
}

.service__title:after {
	content: "";
	width: 153px;
	height: 1px;
	display: -ms-flexbox;
	display: flex;
	background-color: #000;
	margin: 12px auto 0;
}

.service__description {
	font: 24px/23px 'Play',sans-serif;
	margin-top: 11px;
	text-align: center;
	margin-left: -10px;
}

.service__inner-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 38px;
	margin-left: 2px;
	position: relative;
}

.service__row {
	-ms-flex-preferred-size: 47%;
	flex-basis: 47%;
}

.service__row--first {
	padding-right: 23px;
}

.service__row--second {
	padding-left: 2px;
	padding-right: 9px;
}

.service__price-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 15px;
}

.service__price-row:last-child {
	margin-top: 17px;
}

.service__price {
	font: 700 18px/24px 'Play',sans-serif;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

.service__inner-title {
	font: 700 24px/24px 'Play',sans-serif;
	margin-bottom: 18px;
}

.service__inner-title--second {
	position: relative;
	top: -3px;
}

.service__point {
	border-bottom:2px dotted #000000;
	-ms-flex-item-align: baseline;
	align-self: baseline;
	height: 20px;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.service__name {
	font: 18px/24px 'Play',sans-serif;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

.service__notification {
	border: 1px solid #a0a0a0;
	max-width: 551px;
	font: 700 24px/30px 'Play',sans-serif;
	padding: 11px 19px 18px 18px;
	margin-top: -60px;
}

.service__text {
	margin-top: 50px;
	margin-left: -4px;
	font: 700 24px/23px 'Play',sans-serif;
	margin-bottom: 20px;

}
.completed
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 15px;
}
.completed__title
{
	font:700 24px/30px 'Play',sans-serif;
	flex-basis: 100%;
	text-align: center;
	margin-top: 60px;
}
.completed__description {
	font: 24px/40px 'Play',sans-serif;
}
.completed__number {
	font:40px/50px 'Play',sans-serif;
}
.completed__text
{
	flex-basis: 100%;
	margin-top: 65px;
	font: 24px/30px 'Play',sans-serif;
}

@media all {
	html,body
	{
		overflow-x: hidden;}

}
/*Раздел о нас*/
@media all
and(min-width: 1920px)
{
	.about__text
	{
		max-width: 570px;
	}
}
@media all
and (max-width: 1200px) {
	.about__text-wrapper {
		text-align: center;
		column-count: 1;

	}
}
@media all
and (max-width: 1000px) {

	.about__text {
		padding: 0 25px;
		max-width: 600px;
		font: 20px/30px 'Play',sans-serif;
	}

	.about__text:last-child {
		margin-left: 0;
	}
}
@media all
and (max-width:570px)
{
	.about__text {
		padding: 0 25px 0 15px;
		font: 18px/30px 'Play',sans-serif;
	}
}

@media all
and (max-width:480px)
{
	.about__text
	{
		font: 16px/24px 'Play',sans-serif;
	}
	.about__text:last-child
	{
		margin-top: 10px;
	}
}
/*Раздел Выполненных работ*/
@media all
and (max-width:1240px) {
	.completed {
		justify-content: center;
	}

	.completed__row {
		flex-basis: 35%;
	}

	.completed__row:nth-child(3) {
		text-align: right;
	}

	.completed__row--last {
		text-align: right;
	}

	.completed__text {
		font: 18px/30px 'Play', sans-serif;
	}
}
/*@media all*/
/*and (max-width: 1220px)*/
/*{*/
	/*.completed__row*/
	/*{*/
		/*flex-basis: 20%;*/
	/*}*/
/*}*/



@media all
and (max-width:770px)
{
	.completed__row
	{
		flex-basis: 100%;
		text-align: left !important;
	}
}
@media all
and (max-width: 600px)
{
	.completed__number
	{
		font:26px/30px 'Play',sans-serif;
	}
	.completed__text
	{
		font: 18px/24px 'Play',sans-serif;
	}
	.completed__description
	{
		font: 18px/24px 'Play',sans-serif;
	}

}
@media all
and (max-width: 380px)
{
	.completed__number
	{
		font:20px/30px 'Play',sans-serif;
	}
	.completed__description
	{
		font: 15px/24px 'Play',sans-serif;
	}
	.completed__text
	{
		font: 15px/24px 'Play',sans-serif;
	}

}
/*Раздел услуг*/
@media all
and (max-width:1240px)
{
	.service__price
	{
		letter-spacing: -1px;
		min-width: 18%;
		font:700 16px/24px 'Play',sans-serif;
		text-align: right;
	}
	.service__notification
	{
		margin: 20px auto 0;
		min-width: 100%;

	}
}
@media all
and (max-width: 1000px) {
	.service__row {
		flex-basis: 100%;
	}

	.service__row--second {
		margin-top: 32px;
	}
	.service__price
	{
		letter-spacing: 0;
		font: 700 18px/24px 'Play',sans-serif;
	}
	.service__text {
		font: 700 22px/24px 'Play', sans-serif;
		text-align: center;
	}
	.service__description
	{
		margin-left: 0;
	}

}
@media all
and (max-width:770px)
{
	.service__price {
		letter-spacing: -0.5px;
		font: 700 16px/24px 'Play', sans-serif;
	}
	.service__notification
	{
		font: 700 18px/30px 'Play',sans-serif;
	}
}
@media all
and (max-width:520px)
{
	.service__price {
		letter-spacing: -0.5px;
		font: 700 14px/24px 'Play', sans-serif;
	}
	.service__name {
		font:16px/24px 'Play', sans-serif;
	}
	.service__text {
		font: 700 18px/24px 'Play', sans-serif;
	}
}

@media all
and (max-width:460px)
{
	.service__price-row
	{
		display: block;
		margin-top: 0!important;
	}
	.service__name
	{
		font:15px/24px 'Play', sans-serif;
		text-align:left;
	}
	.service__price
	{
		font: 700 13px/24px 'Play', sans-serif;
		letter-spacing: 0.5px !important;
		text-align:left;
	}
	.service__point
	{
		display: none;
	}
	.service__description
	{
		font:16px/24px 'Play', sans-serif;
	}
	.service__notification
	{
		font: 700 16px/30px 'Play',sans-serif;
	}

}

